.vs/
DocumentManagerSystem/bin/
DocumentManagerSystem/wwwroot/
*.dll
*.pdb
Test/DocumentLibrary.Application.Test/obj/
Library/DocumentLibrary.MySql/obj/
Library/DocumentLibrary.Application/obj/
DocumentLibrary.Data/obj/
DocumentManagerSystem/obj/
DocumentManagerSystem/pack/node_modules/
DocumentLibrary.Data/bin/
Library/DocumentLibrary.Application/bin/
Library/DocumentLibrary.MySql/bin/
Test/DocumentLibrary.Application.Test/bin/
